* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

fieldset {
    width: 400px;
    height: 745px;
    margin: 40px 650px;
    border: solid 4px blue;
    background-color: #000;
    /* background-image: url(./write_ups.jpeg); */
    background-size: cover;
    /* padding: 10px 10px 10px 80px; */
}

legend {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: blue;
}

input {
    padding: 10px 70px;
    margin: 25px 50px;
    background-color: #000;
    text-align: center;
    color: blue;
    border: solid 4px blue;
    text-transform: capitalize;
}

button {
    padding: 10px 10px;
    margin-left: 120px;
    border: solid 4px blue;
    background-color: #000;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: blue;
}